---
layout: default
---

<section class="post">
  
  <h2>{{ page.title }}</h2>
    <div style="padding-left:1.6em">
      Categories: {% for categories in page.categories %}
        {% capture categories_name %}{{ categories }}{% endcapture %}
        <a href="/categories#{{ categories_name }}">{{ categories_name }}</a>,&nbsp;
      {% endfor %}   
      <br>
      Tags: {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tags#{{ tag_name }}">{{ tag_name }}</a>,&nbsp;
      {% endfor %}
      <br>
      Published: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
        &nbsp;&nbsp;&nbsp;
{% if page.updated %}
  {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }} {{page.updated}}
{% elsif page.last_modified_at %}
 {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }} <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%Y-%m-%-d" }}</time>
{% endif %}
      <br>
      <b>Summary:</b> {{page.summary}}
      <br>
      <b>Notes:</b> {{page.description}}
    </div>
  <br>
  {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }} <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%Y-%m-%-d" }}</time>
  {{ content }}
</section>

