---
layout: default
---

<section class="post">
  
  <h2>{{ page.title }}</h2>
    <div style="padding-left:1.6em">
      Categories: {% for categories in page.categories %}
        {% capture categories_name %}{{ categories }}{% endcapture %}
        <a href="/categories#{{ categories_name  | slugify }}">{{ categories_name }}</a>,
      {% endfor %}   
      <br>
      Tags: {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tags#{{ tag_name  | slugify }}">{{ tag_name }}</a>,
      {% endfor %}
      <br>
      Published: <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
        &nbsp;&nbsp;&nbsp;
      {% if page.updated %}
         Updated: {{page.updated}}
      {% endif %}
      <br>
      <b>Summary:</b> {{page.summary}}
      <br>
      <b>Notes:</b> {{page.description}}
    </div>
  <br>

  {{ content }}
  
  <br><br><br>
  
  <script src="https://giscus.app/client.js"
        data-repo="shekelash/shekelash.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyODkwMzgyOTU="
        data-category="Show and tell"
        data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyMTYwMDM3"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
  
</section>
